@font-face {
    font-family: ;
    src: url() format("truetype");
}

body{

}

h1{

}

.container{

}

menu{

}

menu ul{

}

menu li{

}

menu a{

}

menu a:hover{

}

button{

}

button:hover{

}

.result{

}